.offersBody{
    display: flex;
    justify-items: column;
    justify-content: space-between;
}

.purchaseOffersContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: transparent;

}

.exchangeOffersContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: transparent;

}

.offers-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.offersLabel{
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    color: #d6be73;
    margin-bottom: 1rem;
    margin-top: 2.5rem;
    text-shadow: 3px 3px 12px #000000;
     
}

.offer {
    width: 70%;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.055);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(8,7,16,0.6);
    margin: 10px;
    background-color: #2e2e2e;
}

.offer p {
    color: white;
    font-size: 16px;
}