.collectionContainers{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.collection {
    color: white; 
    font-size: 18px; 
    margin-bottom: 15px; 
    height: 50vh;
    margin-left: 30px;
}