body {
    font-family: acumin-pro, system-ui, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    grid-template-rows: auto 1fr auto;
    font-size: 14px;
    background-color: #f4f4f4;
    align-items: start;
    background: #1a1a1a;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 
  }
  
  #root {
    display:contents;
  }

  main {
    flex-grow: 1;
    align-self: stretch;
    display: flex;
    flex-direction: column;
  }

  html, body {
    height: 100%;
  }