.formContainer{
    display: flex;
    border: 5px dotted red;
    align-items: top;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    height: 100vh;
  }
  
  .formContainer form{
    display: flex;
    flex-direction: column;
    border: 5px dotted red;
    width: 75%; 
    height: max-content;
  }
  
  .formContainer button{
    display: flex;
    margin: 0 auto;
    width:90%;
    text-align: center;
    justify-content: center;
  }
  
  
  .formContainer form input{
    border: 1px solid black;
    transition: border .5s;
    border-radius: 20px;
  }
  
  .formContainer form input:hover{
    border: 2px solid green;
  }
  
  .formContainer form input:focus{
    border: 2px solid red !important;
  }
  
  .formContainer form a{
    margin: 5px 0 0 5px
  }
  
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-size: 62,5%;
  }
  
  .form__label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
  }
  
  .form__input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
      margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: 3px solid red !important;
    width: 90%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
  }
  
  